# This is a basic workflow that is manually triggered

name: Publish plugin
permissions:
  contents: read

# Controls when the action will run. Workflow runs when manually triggered using the UI
# or API.
on:
  workflow_dispatch:
    inputs:
      name:
        # Friendly description to be shown in the UI instead of 'name'
        description: 'Channel to publish to'
        # Default value if no value is explicitly provided
        default: 'alpha'
        # Input has to be provided for the workflow to run
        required: false

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      
      - name: Git Semantic Version
        uses: PaulHatch/semantic-version@v4.0.3
      
      - name: 'env'
        run: |
           env

      - uses: actions/setup-java@v1
        with:
          java-version: 21
      
      - name: "Publishing to channel: ${{ github.event.inputs.name }}"
        uses: gradle/gradle-build-action@v2
        with:
          arguments: publishPlugin
        env:
            PUBLISH_TOKEN: ${{ secrets.PUBLISH_TOKEN }}
            PRIVATE_KEY: ${{ secrets.PRIVATE_KEY }}
            PRIVATE_KEY_PASSWORD: ${{ secrets.PRIVATE_KEY_PASSWORD }}
            CERTIFICATE_CHAIN: ${{ secrets.CERTIFICATE_CHAIN }}
            CHANNEL: ${{ github.event.inputs.name }}
